<div class="login-background">
    <div class="login-form">
        <div class="login-header">
            <h2>Please enter your nickname: </h2>
        </div>
        <div class="login-main">
            <form action="/main" method="post">
                <input class="login-form-username" type="text" id="username_control" name="username"
                       placeholder="Enter nickname" required autofocus/>
                <button class="login-form-button__login" type="submit" id="btn_login">Send</button>
            </form>
        </div>
        <div class="login-img">
            <img class="kitowcy-img" src='https://nieprzywiedlny.files.wordpress.com/2015/11/kitowcy.jpg?w=640'/>
        </div>
    </div>
</div>
