.Chat {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
}

.ChatHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.ChatTitle,
.ChatUserSettings,
.ChatRoom {
    display: flex;
    width: 20vw;
}

.ChatCurrentlyRoom,
.MessageWrapper {
    display: flex;
    width: 60vw;
}

.ChatTitle {
    border-right: 1px solid #ccc;
    justify-content: center;
    padding: 1.25rem;
}

.ChatCurrentlyRoom {
    justify-content: center;
    padding: 1.25rem;
}

.ChatUserSettings {
    border-left: 1px solid #ccc;
    justify-content: center;
    padding: 1.25rem;
}

.ChatRoom {
    flex: 1;
    border-left: 1px solid #ccc;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 1px solid #ccc;
}

.ChatBody {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.MessageWrapper {
    flex-direction: column;
    flex: 1;
}
